.resume-section-content{
    padding: 20px;
}

div{
    background-color: #124842;

    
}

/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
    color: white;
    text-align: center;
}

p{
    color: white;
    text-align: center;
}

h1{
    color: white;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    display: inline;
    
}

/*estilo de la foto de perfil */
@media(min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        border: #ea6445;
        border-width: 5px;
        border-style: outset;
        box-shadow: 3px 3px 3px hsla(0, 0%, 0%, 0.479);
        left: 3%;
        top: 860px;
    }
}
@media(max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px hsla(0, 0%, 0%, 0.479);
        left: 35%;
        top: 380px;
    }
}

