<section class="resume-section" id="education">
  <div class="resume-section-content">
    <span>
    <h2 class="mb-5">Educa</h2><h2 style="color: #ea6445;">ción</h2>
  </span>
    <div class="row">
      <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
          <h3 class="mb-0">Instituto Superior Nueva Generacion</h3>
          <h4 class="mb-0">Tecnico Superior en la Tegnologia de la Informacion Empresarial</h4>
          <div class="subheading mb-3" id="texto">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia
            sequi iusto nobis, quam, facilis, corporis sunt similique eveniet
            architecto fugiat amet et repudiandae id ad voluptatum veniam quidem
            possimus! Porro.
          </div>
        </div>
        <div class="flex-shrink-0">
          <span><p>2019 </p><p style="color: #ea6445;">hasta </p><p>2022</p></span>
        </div>
      </div>
    </div>
  </div>
</section>
