.resume-section-content{
    padding: 20px;
}

h2{
    color: white;
    text-align: center;
}

h3{
    color: white;
}

h4{
    color: white;
}

#texto{
    color: white;
}

span{
    color: white;
}

div{
    background-color: #125577;
}

