<section class="resume-section" id="education">
  <div class="resume-section-content">
    <h2 class="mb-5">Educación</h2>
    <div class="row">
      <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
          <h3 class="mb-0">Instituto Superior Nueva Generacion</h3>
          <h4 class="mb-0">Tecnico Superior en la Tegnologia de la Informacion Empresarial</h4>
          <div class="subheading mb-3" id="texto">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia
            sequi iusto nobis, quam, facilis, corporis sunt similique eveniet
            architecto fugiat amet et repudiandae id ad voluptatum veniam quidem
            possimus! Porro.
          </div>
        </div>
        <div class="flex-shrink-0">
          <span>2019 hasta 2022</span>
        </div>
      </div>
    </div>
  </div>
</section>
