<div class="row">
  <h1 style="padding-top: 20px;">Hard</h1>
  <h1 style="color: #ea6445">&</h1>
  <h1>Soft Skills</h1>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="60"
      [space]="-5"
      [outerStrokeWidth]="5"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#ea6445'"
      [innerStrokeColor]="'rgba(255, 255, 255, 0)'"
      [animation]="true"
      [animationDuration]="600"
      [showImage]="true"
      [imageSrc]="'/assets/java.svg'"
      [showBackground]="false"
      [imageHeight]="105"
      [imageWidth]="105"
    ></circle-progress>
    <h3>Java</h3>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="60"
      [space]="-5"
      [outerStrokeWidth]="5"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#ea6445'"
      [innerStrokeColor]="'rgba(255, 255, 255, 0)'"
      [animation]="true"
      [animationDuration]="600"
      [showImage]="true"
      [imageSrc]="'/assets/springboot.svg'"
      [showBackground]="false"
      [imageHeight]="95"
      [imageWidth]="95"
    ></circle-progress>
    <h3>Spring Boot</h3>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="60"
      [space]="-5"
      [outerStrokeWidth]="5"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#ea6445'"
      [innerStrokeColor]="'rgba(255, 255, 255, 0)'"
      [animation]="true"
      [animationDuration]="600"
      [showImage]="true"
      [imageSrc]="'/assets/angular.svg'"
      [showBackground]="false"
      [imageHeight]="105"
      [imageWidth]="105"
    ></circle-progress>
    <h3>Agunlar</h3>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="60"
      [space]="-5"
      [outerStrokeWidth]="5"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#ea6445'"
      [innerStrokeColor]="'rgba(255, 255, 255, 0)'"
      [animation]="true"
      [animationDuration]="600"
      [showImage]="true"
      [imageSrc]="'/assets/html5.svg'"
      [showBackground]="false"
      [imageHeight]="105"
      [imageWidth]="105"
    ></circle-progress>
    <h3>HTML5</h3>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="60"
      [space]="-5"
      [outerStrokeWidth]="5"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#ea6445'"
      [innerStrokeColor]="'rgba(255, 255, 255, 0)'"
      [animation]="true"
      [animationDuration]="600"
      [showImage]="true"
      [imageSrc]="'/assets/css.svg'"
      [showBackground]="false"
      [imageHeight]="105"
      [imageWidth]="105"
    ></circle-progress>
    <h3>CSS3</h3>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="60"
      [space]="-5"
      [outerStrokeWidth]="5"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#ea6445'"
      [innerStrokeColor]="'rgba(255, 255, 255, 0)'"
      [animation]="true"
      [animationDuration]="600"
      [showImage]="true"
      [imageSrc]="'/assets/python.svg'"
      [showBackground]="false"
      [imageHeight]="105"
      [imageWidth]="105"
    ></circle-progress>
    <h3>Python</h3>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="60"
      [space]="-5"
      [outerStrokeWidth]="5"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#ea6445'"
      [innerStrokeColor]="'rgba(255, 255, 255, 0)'"
      [animation]="true"
      [animationDuration]="600"
      [showImage]="true"
      [imageSrc]="'/assets/django.svg'"
      [showBackground]="false"
      [imageHeight]="90"
      [imageWidth]="90"
    ></circle-progress>
    <h3>DJango</h3>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="60"
      [space]="-5"
      [outerStrokeWidth]="5"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#ea6445'"
      [innerStrokeColor]="'rgba(255, 255, 255, 0)'"
      [animation]="true"
      [animationDuration]="600"
      [showImage]="true"
      [imageSrc]="'/assets/js.svg'"
      [showBackground]="false"
      [imageHeight]="90"
      [imageWidth]="90"
    ></circle-progress>
    <h3>JavaScript</h3>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="60"
      [space]="-5"
      [outerStrokeWidth]="5"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#ea6445'"
      [innerStrokeColor]="'rgba(255, 255, 255, 0)'"
      [animation]="true"
      [animationDuration]="600"
      [showImage]="true"
      [imageSrc]="'/assets/mysql.svg'"
      [showBackground]="false"
      [imageHeight]="90"
      [imageWidth]="90"
    ></circle-progress>
    <h3>MySql</h3>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="60"
      [space]="-5"
      [outerStrokeWidth]="5"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#ea6445'"
      [innerStrokeColor]="'rgba(255, 255, 255, 0)'"
      [animation]="true"
      [animationDuration]="600"
      [showImage]="true"
      [imageSrc]="'/assets/equipo.svg'"
      [showBackground]="false"
      [imageHeight]="90"
      [imageWidth]="90"
    ></circle-progress>
    <h3>Trabajo en equipo</h3>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="60"
      [space]="-5"
      [outerStrokeWidth]="5"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#ea6445'"
      [innerStrokeColor]="'rgba(255, 255, 255, 0)'"
      [animation]="true"
      [animationDuration]="600"
      [showImage]="true"
      [imageSrc]="'/assets/comunicacion.svg'"
      [showBackground]="false"
      [imageHeight]="90"
      [imageWidth]="90"
    ></circle-progress>
    <h3>Inglés</h3>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="60"
      [space]="-5"
      [outerStrokeWidth]="5"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#ea6445'"
      [innerStrokeColor]="'rgba(255, 255, 255, 0)'"
      [animation]="true"
      [animationDuration]="600"
      [showImage]="true"
      [imageSrc]="'/assets/pensamiento.svg'"
      [showBackground]="false"
      [imageHeight]="100"
      [imageWidth]="100"
    ></circle-progress>
    <h3>Pensamiento Analítico</h3>
  </div>
</div>
