<section class="resume-section" id="education">
  <div class="row">
    <div class="container">
      <div class="logo">
        <img src="../../../assets/APLogo.png" alt="" id="logoAP" />
      </div>
      <div class="social-icons">
        <a class="social-icon" href="#!"><i class="fab fa-linkedin-in"></i></a>
        <a class="social-icon" href="#!"><i class="fab fa-github"></i></a>
        <a class="social-icon" href="#!"><i class="fab fa-instagram"></i></a>
        <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>
        <button type="button" class="btn btn-outline-light">Ingresar</button>
      </div>
    </div>
  </div>
</section>
