<!-- About-->
<section class="resume-section" id="about">
    <div class="resume-section-content">
      <h1 class="mb-0">
        Maximiliano
        <span id="apellido">Suligoy</span>
      </h1>
      <div class="subheading mb-5">
        Resistencia Chaco, CO 3500 · (362) 4718512 ·
        <a href="mailto:maxisuligoy_@hotmail.com">maxisuligoy_@hotmail.com</a>
      </div>
      <p class="lead mb-5">
        Mi objetivo profesional es mantener un crecimiento continuo de
        conocimientos. Soy capaz de trabajar bajo presión y hasta que no
        resuelva el mas minimo error no soy capaz de parar.
      </p>
      <div class="social-icons">
        <a class="social-icon" href="#!"><i class="fab fa-linkedin-in"></i></a>
        <a class="social-icon" href="#!"><i class="fab fa-github"></i></a>
        <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
        <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>
      </div>
    </div>
  </section>
  <hr class="m-0" />
