#banner{
    width: 100%;
    padding: 1px;
    color: white;
    background-image: url('../../../assets/banner.png');
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-color: rgba(19, 19, 19, 0.795);
    background-blend-mode: soft-light;
    font-family: 'Press Start 2P', cursive;
    margin: auto;
}

h3{
    color: #ea6445;
}

